/* Định dạng chung */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(./img/swap.jpg);
  position: relative;
}

/* Container của form */
form {
  position: absolute;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgb(255, 255, 255);
}
form:hover {
  opacity: 1;
  background: linear-gradient(
    to bottom,
    rgb(177, 219, 248),
    rgb(91, 193, 240),
    rgb(149, 201, 250)
  );
}
/* Tiêu đề Swap */
h5 {
  margin: 0;
  font-size: 20px;
  text-align: center;
  color: #e60303;
}

/* Nhãn */
label {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

/* Ô nhập dữ liệu */
input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: 0.2s;
}

input:focus {
  border-color: #007bff;
}

/* Nút xác nhận */
button {
  background: #0799e2;
  color: white;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}

button:hover {
  background: #f73b0c;
}
select,
input {
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.error {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}

.error {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}
